
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
#navbar{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding-top: 40px;
}
#nav{
    background-color: white;
    color : white;
    height: 130px;
    align-content: center;
}
body{
    overflow-y: auto;
}
.home-logo{
    height: 60px;
    
}
#logoimg{
    width: 50px;
}
a{
    color: rgb(46, 75, 115);
    text-decoration: none;
}
.maindiv{
    width: 100%;
    display: flex;
}
.secimg{
    width: 70%;
    height: 706px;
    display: flexbox;
    align-content: center;
}
.seclogin{
    width: 30%;
    height: 706px;
}
.mainimg{
    margin-left: 5px;
    padding: 10px;
}
#displayimg{
    width: 100%;
    border-radius: 8px;
}
#logo-img{
    width: 70%;
    margin-top: 60px;
}
#title-text{
    font-weight: 700;
    display: block;
    font-size: 22px;
}
#logo-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-top:50px ;
}
.signin{
    font-size: 22px;
    font-weight: 700;
    margin:30px 50px;
    align-self: self-start;
}
.details{
    display: flex;
    flex-direction: column; 
    align-items: center;

}

input{
    font-size: 14px;
    padding: 10px;
}
.input-type{
    display: flex;
    /* gap: 50px; */
    border-radius: 3px;
    border: 1px solid rgb(113, 113, 113);
    height: 40px;
    width: 350px;
}
.input-type-2{
    margin-top: 30px;
    margin-left: 30px;
    color: white;
    border: 0;
    background-color:  rgb(46, 75, 115);
    font-size: 16px;
}
.forgetid{
    color: blue;
    padding: 10px;
    font-size: 14px;
}
#logo-d{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
#logo-image{
    width: 70%;
    margin-top: 5px;
}
.regin{
    
    /* gap: 50px; */
    border-radius: 3px;
    border: 1px solid rgb(113, 113, 113);
    height: 40px;
    width: 250px;
    margin-left :20px;
    margin-top: 15px;
}
#rg_details{
    padding-left: 10px;
    
}
.radio{
    margin-left: 10px;
    margin-top: 15px;
}
.stu_div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.stu_details{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
}
#course{
    font-size: 36px;
    font-weight: 600;
}
h3{
    font-weight: 450;
    margin: 20px 0px;
}
ul{
    list-style: none;
}
.course_sec{
    padding: 50px;
}
.ul1>li{
 padding-top: 10px;
}

.homediv{
    margin-left: 10%;
    width: 80%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.framediv{
    width: 100%;
    margin-top:20px;
    height: 800px;
}
iframe{
    width: 100%;
    height: 100%;
}
.para{
    font-size: 28px;
    font-weight: 700;
}
#mainimg{
    width: 80%;
    margin-left: 10%;
}
.stdemail{
    color: white;
}